header
  .topnav
    overflow: hidden;
    position: relative;

  .topnav #myLinks
    display: none;
    text-align: right;

  .topnav a
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    font-weight: 900;

  .topnav a.icon
    display: block;
    position: absolute;
    right: 0;
    top: 0;

  .topnav a:hover
    color: rgb(140, 47, 19);